


div.annotation {
  float: right; 
  clear: right;
  display: block; 
  max-width: 12em; 
  border: 2px solid black;
  border-radius: 0.5em;
  padding: 0.15em 0.5em; 
  text-align: center;
  background: #EEE;
  margin: 0 0 0.5em 1em;
}

div.annoation div {
  display: block;
}

div.annotation a {
  text-decoration: none;
}
div.annotation a:hover {
  text-decoration: underline;
}

div.annotation span {
  font-size: x-small; 
  border: 1px solid black; 
  padding: 0.1em;
  background: white;
}
div.annotation span a:hover {
  background: none;
}

div.annotation span.pass {
  background-color: #4F4;
}

div.annotation span.p100 {
  background-color: #8F8;
}
div.annotation span.p90 {
  background-color: #9F6;
}
div.annotation span.p80 {
  background-color: #FF6;
}
div.annotation span.p70 {
  background-color: #F93;
}
div.annotation span.p60,
div.annotation span.p50,
div.annotation span.p40,
div.annotation span.p30,
div.annotation span.p20,
div.annotation span.p10 {
  background-color: #F60;
}

div.annotation span.fail {
  background-color: #F66;
}

div.annotation span.uncertain {
  background-color: #DDD;
}

