/*******************************************************************************
 *
 *  Copyright © 2010-2011 Hewlett-Packard Development Company, L.P. 
 *
 *  This work is distributed under the W3C® Software License [1] 
 *  in the hope that it will be useful, but WITHOUT ANY 
 *  WARRANTY; without even the implied warranty of 
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 *
 *  [1] http://www.w3.org/Consortium/Legal/2002/copyright-software-20021231 
 *
 *  Adapted from the Mobile Test Harness
 *  Copyright © 2007 World Wide Web Consortium
 *  http://dev.w3.org/cvsweb/2007/mobile-test-harness/
 * 
 ******************************************************************************/

/*
html, body, div, p, form {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  display: table;
  table-layout: fixed;
}
img {
  border: none;
  float: left;
  margin-right: 8pt;
  margin-bottom: 4pt;
}
p.nav {
  margin-bottom: 6pt;
}
p.nav a {
  white-space: nowrap;
}
h1, h2, h3, h4 {
  margin: 0; padding: 0;
}


.header {
  display: table-cell;
  margin-bottom: 0.4em;
  padding: 1em 1em 0em 1em;
  height: auto;
}

.footer {
  margin-top: 0.4em;
  padding: .5em;
  display: table-cell;
  height: 2em;
}

.title {
  clear: both;
  font-size: 1.0em;
  margin-bottom: 4pt;
}

.suite {
  font: inherit; 
  font-size: 1.3em;
  margin-bottom: 4pt;
}
.testname {
  clear: both;
  font-size: 1.0em;
  margin-bottom: 4pt;
}
.testname {
  font-weight: bold;
}

*/



.results {
  font-size: small;
  float: right;
  width: auto;
  margin: 3em 0 0 1em;
}
.results .engine {
  padding: 1px .25em;
  margin: 0 0.1em;
  border: solid 1px black;
  text-decoration: none;
}
.results .active {
  padding-bottom: 0px;
  border-bottom-width: 2px;
}
.results .uncertain {
  background-color: yellow;
}
.results .fail {
  background-color: #F66;
}
.results .fail.uncertain {
  background-color: #FAA;
}
.results .pass {
  background-color: #8F8;
}
.results .pass.fail,
.results .pass.uncertain {
  background-color: #BFB;
}
.results .invalid,
.results .pass.invalid,
.results .fail.invalid,
.results .uncertain.invalid {
  background-color: #AAA;
}


.testinfo {
  background: #f4f4f4;
  margin: -.5em -1em .5em -36px;
  padding: .75em 1em .5em 36px;
  border-bottom: 1px solid #aaa;
}

.testinfo .format {
  float: right;
  font-size: smaller;
  margin-left: 2em;
}
 .testinfo .format .other {
  color: white;
  background: #4040ff;
}

.testinfo .draft::after {
  content: '';
  display: inline-block;
  width: 42px;
  height: 14px;
  background: url(../img/icons.png) no-repeat center;
  background-position: 0px 0px;
  margin: 0em .1em;
  vertical-align: top;
  text-decoration: remove-all;
}


.shepherd {
  font-weight: normal;
  float: right;
  margin-left: 2em;
  font-size: smaller;
}
.shepherd a + a {
  margin-left: 1em;
}

.notes {
  margin-top: .5em;
  font-size: smaller;
}

.prerequisites {
  margin: 1em 0;
  clear: both;
}
p.userstyle { 
  color: green; 
  display: none;
}
p.nouserstyle {
  color: red; 
  display: none;
}

/* Tab Bar */
.tab_bar {
  display: block;
  margin: -.5em -1em 0 -36px;
  padding: .5em 0em 0em 26px;
  background: #f8f8f8;
}
.tab_bar .tab_group {
  padding: 0;
  margin: 0;
}
.tab_bar .tab_group .tab {
  float: left;
  border: 1px solid #888;
  border-bottom-width: 0;
  border-radius: 4px 4px 0 0;
  margin: 0 -0.5em 0 1em;
}
.tab_bar .tab_group .or {
  float: left;
  display: block;
  text-align: bottom;
  padding: 0.24em 1em;
  margin: 0 -0.5em 0 1em;
}
.tab_bar .tab_group .tab a {
  text-decoration: none;
  display: block;
  padding: 0.24em 1em;
  text-align: center;
  border-radius: inherit;
  background: #e4e4e4;
}
.tab_bar .tab_group .tab a:hover {
  background: #eee;
}
.tab_bar .tab_group .tab.active {
  border-color: black;
  background: white;
}
.tab_bar .tab_group .tab.active a {
  position: relative;
  top: 1px;
  background: inherit;
  color: black;
}
.tab_bar .tab_group .tab.disabled a {
  background: #ddd;
  color: #aaa;
}
.tab_bar .tab_foot {
  border-top: 1px solid black;
  clear: both;
  margin-bottom: 0;
  margin-left: -36px;
  padding-left: 36px;
}
.instruct {
  padding: 4pt 0 0 10px;
  margin: 0;
  color: black;
}
.instruct:not(.active) {
  display: none;
}


.body  {
  padding:0;
}
.body_inner {
  display: table; 
  table-layout: fixed; 
  padding: 0; 
  margin: 0; 
  height: 100%; 
  width: 100%; 
}
.body .testinfo {
  display: table-cell;
  height: 1em;
  padding: .75em 1em .5em 36px;
}
.body .tab_bar {
  display: table-row; 
}
.body .tab_bar .tab_group {
  display: table-cell; 
  padding: .5em 0 0 26px;
  height: 1em; 
}
.body .test_view {
  height: 90%;
  width: 100%;
  text-align: center;
  display: table-row;
}
.body .test_wrapper {
  height: inherit;
  display: table-cell;
  position: relative;
  xpadding: .5em .5em .5em 36px;
}
object, iframe {
  position: absolute;
  border: groove 2px;
  display: block;
  top: 8px;
  left: 34px;
  height: 95%;
  width: 90%;
  height: calc(100% - 16px);
  width: calc(100% - 54px);
}
object:not(.active), iframe:not(.active) {
  visibility: hidden;
}

.body > p {
  margin-left: 36px;
}


.cycle {
  float: right;
  margin-right: 1em;
}


.footer {
  text-align: center;
}
.footer .buttons {
  float: left;
}
.footer .ua {
  float: right;
  text-align: right;
  padding-top: .2em;
}
.footer .ua abbr.other {
  font-weight: bolder;
  color: white;
  background: #4040ff;
  padding: 2pt;
}
.footer .ua a {
  padding: 0 .1em;
}
