/*******************************************************************************
 *
 *  Copyright © 2010-2011 Hewlett-Packard Development Company, L.P. 
 *
 *  This work is distributed under the W3C® Software License [1] 
 *  in the hope that it will be useful, but WITHOUT ANY 
 *  WARRANTY; without even the implied warranty of 
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 *
 *  [1] http://www.w3.org/Consortium/Legal/2002/copyright-software-20021231 
 *
 *  Adapted from the Mobile Test Harness
 *  Copyright © 2007 World Wide Web Consortium
 *  http://dev.w3.org/cvsweb/2007/mobile-test-harness/
 * 
 ******************************************************************************/

/**
 * Style sheet for test suite selection page
 */
 
p.ua abbr.other {
  font-weight: bolder;
  color: white;
  background: blue;
  padding: 2pt;
}
p.ua a {
  padding: 0 .1em;
}

p.error, tr.error th {
  color: red;
}

tr.error th, tr.error td:first-of-type {
  background: #ff8;
}

.import_result {
  font-weight: bold;
}